<h2>My Heroes</h2>

<ul class="heroes">
  <li [routerLink]="['/detail', h.id]" *ngFor="let h of heroes"
      [class.selected]="h === selectedHero"
      (click)="onSelect(h)">
<!--    <span class="heroes-menu">{{h.id}}</span>-->
    {{h.name}}
  </li>
</ul>

<div>
  <form [formGroup]="newHeroForm" (ngSubmit)="onSubmit()">

    <button class="button" type="submit">Purchase</button>


    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="id">
        Address
      </label>
      <input id="id" type="text" formControlName="id">
    </div>
  <button type="submit">add</button>
  </form>

</div>


<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
